<div class="container">

<div *ngFor="let girl of (concurente ? concurente : []); let i = index;" class="row">
    <div class="card col vote-width" [class.purpleish]="!(votedForGirl)" [class.grey]="(votedForGirl)" style="padding: 0;">
        <div class="card-image">
            <img [class.activator]="!(votedForGirl)" src="{{ concurente[i]?.profile_picture }}" >
        </div>
        <div [class.activator]="!(votedForGirl)" class="card-content" style="height:100px">
            <span [class.activator]="!(votedForGirl)" class="card-title white-text text-darken-4 title-font">{{ concurente[i]?.display_name }}</span>
        </div>
        <div class="card-reveal">
            <span class="card-title text-darken-4 title-font">{{ concurente[i]?.display_name }}<i class="material-icons right">close</i></span>
            <p class="card-title title-font">{{ concurente[i]?.description }}</p>
            <div class="btn purpleish waves-effect waves-white" (click)="voteForGirl(i)">Voteaza</div>
        </div>
    </div>
    
    
    <div class="card col vote-width vote-offset" [class.purpleish]="!(votedForBoy)" [class.grey]="(votedForBoy)" style="padding: 0;">
        <div class="card-image">
            <img [class.activator]="!(votedForBoy)" src="{{ concurenti[i]?.profile_picture }}" >
        </div>
        <div [class.activator]="!(votedForBoy)" class="card-content" style="height:100px">
            <span [class.activator]="!(votedForBoy)" class="card-title white-text text-darken-4 title-font">{{ concurenti[i]?.display_name }}</span>
        </div>
        <div class="card-reveal">
            <span class="card-title text-darken-4 title-font">{{concurenti[i]?.display_name }}<i class="material-icons right">close</i></span>
            <p>{{ concurenti[i]?.description }}</p>
            <div class="btn purpleish waves-effect waves-white" (click)="voteForBoy(i)">Voteaza</div>
        </div>
    </div>
</div>
</div>