@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');

* {
    font-family: 'Arima Madurai', cursive;
}

.loading::after {
    width: 100%;
    height: 100%;
    position:absolute;
    left: 0;
    right: 0;
    background: red;
}

.hidden { 
    display: none !important;
}