<div class="container">
    <div [ngSwitch]="tombola.media_type" class="full-screen valign-wrapper" *ngIf="addVisible === true">
        <div class="" *ngSwitchCase="'image'" class="valign">
            <button class="btn close-button-float" (click)="closeAdd()">close</button>
            AICI AR TREBUI SA FIE O IMAGINE CA ADD.
        </div>
        
        <div class="" *ngSwitchCase="'video'" class="valign">
            AICI AR TREBUI SA FIE UN VIDEO CA ADD.
        </div>
    </div>
 
    vezi tombola {{ tombola.display_name }}
    <form #signForm="ngForm" (ngSubmit)="SignToTombola(signForm)" *ngIf="addVisible === false">
        <div class="row" *ngFor="let field of tombola.required_fields">
            <div [ngSwitch]="field">
                
                <div class="input-field col s12" *ngSwitchCase="'name'">
                    <input id="nume" type="text" required class="validate" name="name" ngModel>
                    <label for="nume">Nume</label>
                </div>
                <div class="input-field col s12" *ngSwitchCase="'surname'">
                    <input id="prenume" type="text" required class="validate" name="surname" ngModel>
                    <label for="prenume">Prenume</label>
                </div>
                <div class="input-field col s12" *ngSwitchCase="'cnp'">
                    <input id="cnp" type="number" required class="validate" name="cnp" ngModel>
                    <label for="cnp">CNP</label>
                </div>
                <div class="input-field col s12" *ngSwitchCase="'email'">
                    <input id="email" type="email" required class="validate" name="email" ngModel>
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s12" *ngSwitchCase="'phone'">
                        <input id="phone" type="tel" required class="validate" name="phone" ngModel>
                        <label for="phone">Telefon</label>
                    </div>
                <div *ngSwitchDefault>asdasdsa</div>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            </button>
    </form>
</div>